aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_version < "4"
aiohttp==3.11.16 ; python_version >= "3.12" and python_version < "4"
aiosignal==1.3.2 ; python_version >= "3.12" and python_version < "4"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4"
anthropic==0.50.0 ; python_version >= "3.12" and python_version < "4"
anyio==4.9.0 ; python_version >= "3.12" and python_version < "4"
appnope==0.1.4 ; python_version >= "3.12" and python_version < "4" and platform_system == "Darwin"
asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4"
asttokens==3.0.0 ; python_version >= "3.12" and python_version < "4"
attrs==25.3.0 ; python_version >= "3.12" and python_version < "4"
blinker==1.9.0 ; python_version >= "3.12" and python_version < "4"
cairocffi==1.7.1 ; python_version >= "3.12" and python_version < "4"
cairosvg==2.7.1 ; python_version >= "3.12" and python_version < "4"
certifi==2025.1.31 ; python_version >= "3.12" and python_version < "4"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4"
chardet==5.2.0 ; python_version >= "3.12" and python_version < "4"
charset-normalizer==3.4.1 ; python_version >= "3.12" and python_version < "4"
click==8.1.8 ; python_version >= "3.12" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.2 ; python_version >= "3.12" and python_version < "4"
contourpy==1.3.2 ; python_version >= "3.12" and python_version < "4"
cryptography==45.0.4 ; python_version >= "3.12" and python_version < "4"
cssselect2==0.8.0 ; python_version >= "3.12" and python_version < "4"
cycler==0.12.1 ; python_version >= "3.12" and python_version < "4"
dataclasses-json==0.6.7 ; python_version >= "3.12" and python_version < "4"
debugpy==1.8.14 ; python_version >= "3.12" and python_version < "4"
decorator==5.2.1 ; python_version >= "3.12" and python_version < "4"
defusedxml==0.7.1 ; python_version >= "3.12" and python_version < "4"
distro==1.9.0 ; python_version >= "3.12" and python_version < "4"
executing==2.2.0 ; python_version >= "3.12" and python_version < "4"
fireworks-ai==0.15.12 ; python_version >= "3.12" and python_version < "4"
flask-cors==5.0.1 ; python_version >= "3.12" and python_version < "4"
flask==3.1.0 ; python_version >= "3.12" and python_version < "4"
fonttools==4.58.4 ; python_version >= "3.12" and python_version < "4"
frozenlist==1.5.0 ; python_version >= "3.12" and python_version < "4"
greenlet==3.2.0 ; python_version >= "3.12" and python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "4"
h11==0.14.0 ; python_version >= "3.12" and python_version < "4"
httpcore==1.0.8 ; python_version >= "3.12" and python_version < "4"
httpx-sse==0.4.0 ; python_version >= "3.12" and python_version < "4"
httpx-ws==0.7.2 ; python_version >= "3.12" and python_version < "4"
httpx==0.28.1 ; python_version >= "3.12" and python_version < "4"
idna==3.10 ; python_version >= "3.12" and python_version < "4"
inflection==0.5.1 ; python_version >= "3.12" and python_version < "4"
ipykernel==6.29.5 ; python_version >= "3.12" and python_version < "4"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.12" and python_version < "4"
ipython==9.1.0 ; python_version >= "3.12" and python_version < "4"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "4"
jedi==0.19.2 ; python_version >= "3.12" and python_version < "4"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4"
jiter==0.9.0 ; python_version >= "3.12" and python_version < "4"
jsonpatch==1.33 ; python_version >= "3.12" and python_version < "4"
jsonpointer==3.0.0 ; python_version >= "3.12" and python_version < "4"
jupyter-client==8.6.3 ; python_version >= "3.12" and python_version < "4"
jupyter-core==5.7.2 ; python_version >= "3.12" and python_version < "4"
kiwisolver==1.4.8 ; python_version >= "3.12" and python_version < "4"
langchain-anthropic==0.3.12 ; python_version >= "3.12" and python_version < "4"
langchain-community==0.3.21 ; python_version >= "3.12" and python_version < "4"
langchain-core==0.3.58 ; python_version >= "3.12" and python_version < "4"
langchain-deepseek==0.1.3 ; python_version >= "3.12" and python_version < "4"
langchain-experimental==0.3.4 ; python_version >= "3.12" and python_version < "4"
langchain-fireworks==0.2.9 ; python_version >= "3.12" and python_version < "4"
langchain-openai==0.3.13 ; python_version >= "3.12" and python_version < "4"
langchain-text-splitters==0.3.8 ; python_version >= "3.12" and python_version < "4"
langchain==0.3.23 ; python_version >= "3.12" and python_version < "4"
langgraph-checkpoint==2.0.25 ; python_version >= "3.12" and python_version < "4"
langgraph-prebuilt==0.1.8 ; python_version >= "3.12" and python_version < "4"
langgraph-sdk==0.1.66 ; python_version >= "3.12" and python_version < "4"
langgraph==0.4.1 ; python_version >= "3.12" and python_version < "4"
langsmith==0.3.31 ; python_version >= "3.12" and python_version < "4"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4"
marshmallow==3.26.1 ; python_version >= "3.12" and python_version < "4"
matplotlib-inline==0.1.7 ; python_version >= "3.12" and python_version < "4"
matplotlib==3.10.3 ; python_version >= "3.12" and python_version < "4"
multidict==6.4.3 ; python_version >= "3.12" and python_version < "4"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4"
nest-asyncio==1.6.0 ; python_version >= "3.12" and python_version < "4"
numpy==2.2.4 ; python_version >= "3.12" and python_version < "4"
odfpy==1.4.1 ; python_version >= "3.12" and python_version < "4"
openai==1.74.0 ; python_version >= "3.12" and python_version < "4"
orjson==3.10.16 ; python_version >= "3.12" and python_version < "4"
ormsgpack==1.9.1 ; python_version >= "3.12" and python_version < "4"
packaging==24.2 ; python_version >= "3.12" and python_version < "4"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "4"
parso==0.8.4 ; python_version >= "3.12" and python_version < "4"
pdfminer-six==20250506 ; python_version >= "3.12" and python_version < "4"
pdfplumber==0.11.7 ; python_version >= "3.12" and python_version < "4"
pexpect==4.9.0 ; python_version >= "3.12" and python_version < "4" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==11.2.1 ; python_version >= "3.12" and python_version < "4"
platformdirs==4.3.7 ; python_version >= "3.12" and python_version < "4"
prompt-toolkit==3.0.51 ; python_version >= "3.12" and python_version < "4"
propcache==0.3.1 ; python_version >= "3.12" and python_version < "4"
psutil==7.0.0 ; python_version >= "3.12" and python_version < "4"
psycopg2-binary==2.9.10 ; python_version >= "3.12" and python_version < "4"
ptyprocess==0.7.0 ; python_version >= "3.12" and python_version < "4" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.12" and python_version < "4"
pyairtable==3.1.1 ; python_version >= "3.12" and python_version < "4"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4"
pydantic-core==2.33.1 ; python_version >= "3.12" and python_version < "4"
pydantic-settings==2.8.1 ; python_version >= "3.12" and python_version < "4"
pydantic==2.11.3 ; python_version >= "3.12" and python_version < "4"
pygments==2.19.1 ; python_version >= "3.12" and python_version < "4"
pyparsing==3.2.3 ; python_version >= "3.12" and python_version < "4"
pypdfium2==4.30.1 ; python_version >= "3.12" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4"
python-dotenv==1.1.0 ; python_version >= "3.12" and python_version < "4"
pytz==2025.2 ; python_version >= "3.12" and python_version < "4"
pywin32==310 ; python_version >= "3.12" and python_version < "4" and sys_platform == "win32" and platform_python_implementation != "PyPy"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4"
pyzmq==26.4.0 ; python_version >= "3.12" and python_version < "4"
regex==2024.11.6 ; python_version >= "3.12" and python_version < "4"
reportlab==4.3.1 ; python_version >= "3.12" and python_version < "4"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "4"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4"
scipy==1.16.0 ; python_version >= "3.12" and python_version < "4"
six==1.17.0 ; python_version >= "3.12" and python_version < "4"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "4"
sqlalchemy==2.0.40 ; python_version >= "3.12" and python_version < "4"
stack-data==0.6.3 ; python_version >= "3.12" and python_version < "4"
tavily-python==0.5.4 ; python_version >= "3.12" and python_version < "4"
tenacity==9.1.2 ; python_version >= "3.12" and python_version < "4"
tiktoken==0.9.0 ; python_version >= "3.12" and python_version < "4"
tinycss2==1.4.0 ; python_version >= "3.12" and python_version < "4"
tornado==6.4.2 ; python_version >= "3.12" and python_version < "4"
tqdm==4.67.1 ; python_version >= "3.12" and python_version < "4"
traitlets==5.14.3 ; python_version >= "3.12" and python_version < "4"
typing-extensions==4.13.2 ; python_version >= "3.12" and python_version < "4"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "4"
typing-inspection==0.4.0 ; python_version >= "3.12" and python_version < "4"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4"
urllib3==2.4.0 ; python_version >= "3.12" and python_version < "4"
uvicorn==0.34.2 ; python_version >= "3.12" and python_version < "4"
wcwidth==0.2.13 ; python_version >= "3.12" and python_version < "4"
webencodings==0.5.1 ; python_version >= "3.12" and python_version < "4"
werkzeug==3.1.3 ; python_version >= "3.12" and python_version < "4"
wsproto==1.2.0 ; python_version >= "3.12" and python_version < "4"
xxhash==3.5.0 ; python_version >= "3.12" and python_version < "4"
yarl==1.20.0 ; python_version >= "3.12" and python_version < "4"
zstandard==0.23.0 ; python_version >= "3.12" and python_version < "4"
